/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('main-bg.jpeg');
  background-position: fixed;
  background-color: bisque;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

img{
  display: block;
  height: 200px;
  border-radius: 50%;
  margin: auto;
}


button{
  margin-top: 2%;
  background-color: antiquewhite;
  padding: 20px;
}

.main {
  text-align: center;
  margin-bottom: 2%;
  color: white;
}

.character {  
  border: 3px solid black;
  border-radius: 25%;
  width: 25%;
  height: 550px;
  background-image: url('section-bg.png');
  background-size: cover;
  background-color: antiquewhite;
  text-align: center;
}

h2 {
  font-size: 25px;
  text-decoration: underline;
}

h4 {
  font-size: 18px;
  text-decoration: underline;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#catchphrase {
  font-style: italic;
}